## 1Gather

In [1]:
import pandas as pd

In [2]:
patients = pd.read_csv('patients.csv')

## 2Assess

In [3]:
#.head()
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [35]:
# .info()
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [36]:
# .describe()
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [3]:
#Nulls

patients.isnull().sum()

patient_id       0
assigned_sex     0
given_name       0
surname          0
address         12
city            12
state           12
zip_code        12
country         12
contact         12
birthdate        0
weight           0
height           0
bmi              0
dtype: int64

In [5]:
patients.nunique()

patient_id      503
assigned_sex      2
given_name      470
surname         466
address         483
city            349
state            54
zip_code        430
country           1
contact         483
birthdate       493
weight          347
height           22
bmi             183
dtype: int64

In [40]:
patients['surname'].value_counts()

Doe          6
Taylor       3
Jakobsen     3
Lâm          2
Woźniak      2
            ..
Nordin       1
Mathieu      1
Konovšek     1
Scheltens    1
Costa        1
Name: surname, Length: 466, dtype: int64

#### Issues
##### `patients` table
- Zip code is a float not a string
- Full state names sometimes, abbreviations other times
- Default John Doe data

## 3Clean

In [5]:
patients_clean = patients.copy()

#### Zip code is a float not a string and Zip code has four digits sometimes

##### Code

In [6]:
# Your cleaning code here
patients_clean['zip_code'] = patients_clean['zip_code'].astype(str)

##### Test

In [7]:
# Your testing code here
patients_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      503 non-null    object
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(2), int64(2), object(10)
memory usage: 55.1+ KB

#### Full state names sometimes, abbreviations other times

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html) for method used in solution.*

##### Code

In [45]:
# Your cleaning code here
#'California','New York','Illinois': 'Florida': 'FL','Nebraska': 'NE'

patients_clean['state'] = patients_clean['state'].replace({'California' : 'CA' , 'New York':'NY' , 'Illinois' : 'NI' ,
                                                          'Florida':'FL' , 'Nebraska' : 'Ne'})

##### Test

In [46]:
# Your testing code here
patients_clean['state'].value_counts()

CA    60
NY    47
TX    32
MA    22
FL    22
PA    18
GA    15
NI    14
OH    14
MI    13
OK    13
LA    13
NJ    12
VA    11
IL    10
MS    10
WI    10
TN     9
MN     9
IN     9
AL     9
NC     8
KY     8
WA     8
MO     7
ID     6
KS     6
NV     6
SC     5
IA     5
CT     5
AR     4
AZ     4
ND     4
ME     4
CO     4
RI     4
Ne     4
WV     3
SD     3
OR     3
DE     3
MD     3
VT     2
NE     2
DC     2
MT     2
NM     1
AK     1
WY     1
NH     1
Name: state, dtype: int64

#### Default John Doe data

##### Define
*Your definition here. Recall that it is assumed that the data that this John Doe data displaced is not recoverable.*

##### Code

In [8]:
# Your cleaning code here

patients_clean = patients_clean.query('surname != "Doe"')

##### Test

In [9]:
# Your testing code here
patients_clean['surname'].value_counts()

Taylor      3
Jakobsen    3
Silva       2
Woźniak     2
Hueber      2
           ..
Poulsen     1
Quynh       1
Rokavc      1
Udinesi     1
Scholz      1
Name: surname, Length: 465, dtype: int64

# Q1 : does higher weight means you will be patient ?

In [10]:
#Avg
mean = patients_clean['weight'].mean()


high = patients_clean.query('weight > 173')
low = patients_clean.query('weight < 173')

In [11]:
perc_high = (high.shape[0] / patients_clean.shape[0])*100

perc_low = (low.shape[0] / patients_clean.shape[0])*100

In [12]:
perc_high , perc_low

(50.30181086519114, 49.69818913480885)

# Q2 : which state has the highest number of patients ?

In [74]:
patients_clean['state'].value_counts().head(5)

CA    60
NY    41
TX    32
MA    22
FL    22
Name: state, dtype: int64

In [70]:
patients_clean['state'].value_counts().tail(5)

MT    2
NM    1
AK    1
WY    1
NH    1
Name: state, dtype: int64

----------------------

In [77]:
# 

patients_clean['bmi'] = patients_clean['weight'] / patients_clean['height']

In [78]:
patients_clean

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,CA,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,1.843939
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,NI,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,1.800000
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Ne,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,2.504225
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,3.155714
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,7.122222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,2.515278
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,3.422857
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,2.555224
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,2.640299
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Ne,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,1.946479